@media only screen and (min-width: 1024px) {
  /*grid rules*/
  .row {
    grid-template-columns: auto auto auto auto;
    justify-content: unset;
  }
  .large-12{
    max-width: 500px;
    margin-left: 160px
  }
  .img-sec{
    grid-template-columns: auto;
  }
  .column{
    padding: 0;
    margin: 0
  }
  footer {
    
  }
} /**end of media query*/
