@media only screen and (min-width: 768px) {
  /* grid rules*/
  .row {
    grid-template-columns: auto auto;
  }
  
  .medium-6 {
    grid-template-columns: auto auto auto auto;
  }
  .img-sec{
    grid-template-columns: auto;
  }
  .prod-img{
    grid-template-columns: auto auto;
  }
 .ul-sect {
    display: block
  }
  header h1 {
    font-size: 2.5rem;
  }
  .nav-btn{
    display: none
  }
 
  footer {
  }

} /** end of media query*/
